<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin chi tiết</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/images/favicon.ico">

    <!-- Import CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel='stylesheet' href='/public/stylesheets/default.css' />
    <link rel='stylesheet' href='/public/stylesheets/header.css' />
    <link rel='stylesheet' href='/public/stylesheets/footer.css' />
    <link rel='stylesheet' href='/public/stylesheets/detail.css' />

    <!-- Import JS file -->
    <script src="/public/javascripts/default.js"></script>
    <script src="/public/javascripts/detail.js"></script>
  </head>
  <body>
    <% include header %>
    <% function formatTime(t){
        return ('0' + t).slice(-2)
    } %>
    <section class="news-detail-section">
        <div class="container">
            <div class="news-detail">
                <div class="news-detail-left">
                    <div class="news-detail-left-content">
                        <div class="news-detail-left-content-title">
                            <h1>
                                <%= news.tieude %>
                            </h1>
                        </div>
                        <div class="news-detail-left-content-image">
                            <img src="<%=news.anh %>" alt="">
                            <p>Hình ảnh minh họa <span style="color: red;">*</span></p>
                        </div>
                        <div class="news-detail-left-content-body">
                            <!-- Do noi dung bai bao vao -->
                            <% news.noidung.split('\n').forEach(function(item){ %>
                                
                                <p><%= item %></p>
                            
                            <% }) %>

                        </div>
                        <div class="news-detail-left-content-tail">
                            <p style="margin-bottom: 6px;"> <%=author%></p>
                            <p>Theo <span><%=news.nguongoc%></span></p>
                        </div>
                    </div>
                    <div class="news-detail-left-comment">
                        <div class="news-detail-left-comment-input">
                            <h1>
                                Bình luận
                            </h1>
                            <div class="news-detail-left-comment-input-top-comment-box row">
                                <div class="news-detail-left-comment-input-top-comment-box-name">
                                    <p>Tên người <span style="color: red;">*</span></p>
                                    <select name="" id="name">
                                        <option value="name" selected><%=username%></option>
                                        <option value="anomymous">Ẩn danh</option>
                                    </select>
                                </div>
                                <div class="news-detail-left-comment-input-top-comment-box-email">
                                    <p>Email <span style="color: red;">*</span></p>
                                    <input id="email" type="text" placeholder="Nhập email của bạn">
                                </div>
                                <div class="news-detail-left-comment-input-top-comment-box-rate">
                                    <p>Rating <span style="color: red;">*</span></p>
                                    <div class="news-detail-left-comment-input-top-comment-box-rate-star">
                                        <i class="fas fa-star fa-2x"></i>
                                        <i class="fas fa-star fa-2x"></i>
                                        <i class="fas fa-star fa-2x"></i>
                                        <i class="far fa-star fa-2x"></i>
                                        <i class="far fa-star fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <textarea id="textbox" placeholder="Comment của bạn"></textarea>
                            <div class="news-detail-left-comment-input-button">
                                <p>Bạn cần <a href="/">đăng nhập</a> để bình luận công khai</p>
                                <button id="btnAddCmt" onclick="addComment()">Bình luận</button>
                            </div>
                        </div>
                        <div class="news-detail-left-comment-user-rating">
                            <h1>Đánh giá của độc giả</h1>
                            <p>Trung bình <span id="avarage">11<i style="color: #ffa500;" class="fas fa-star"></i></span> với <span id="countCmt">22</span> đánh giá</p>
                            <div class="news-detail-left-comment-user-rating-content">
                                <table>
                                    <tr>
                                        <td>5 <i class="fas fa-star"></i></td>
                                        <td>
                                            <div class="rate-box">
                                                <div class="rate-container"></div>
                                                <div class="rate-value star-5"></div>
                                            </div>
                                        </td>
                                        <td><%=starCount[4]%></td>
                                    </tr>
                                    
                                    <tr>
                                        <td>4 <i class="fas fa-star"></i></td>
                                        <td>
                                            <div class="rate-box">
                                                <div class="rate-container"></div>
                                                <div class="rate-value star-4"></div>
                                            </div>
                                        </td>
                                        <td><%=starCount[3]%></td>
                                    </tr>

                                    <tr>
                                        <td>3 <i class="fas fa-star"></i></td>
                                        <td>
                                            <div class="rate-box">
                                                <div class="rate-container"></div>
                                                <div class="rate-value star-3"></div>
                                            </div>
                                        </td>
                                        <td><%=starCount[2]%></td>
                                    </tr>

                                    <tr>
                                        <td>2 <i class="fas fa-star"></i></td>
                                        <td>
                                            <div class="rate-box">
                                                <div class="rate-container"></div>
                                                <div class="rate-value star-2"></div>
                                            </div>
                                        </td>
                                        <td><%=starCount[1]%></td>
                                    </tr>

                                    <tr>
                                        <td>1 <i class="fas fa-star"></i></td>
                                        <td>
                                            <div class="rate-box">
                                                <div class="rate-container"></div>
                                                <div class="rate-value star-1"></div>
                                            </div>
                                        </td>
                                        <td><%=starCount[0]%></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="news-detail-left-comment-list-comments">
                            <div class="news-detail-left-comment-title">
                                <h1>Danh sách bình luận</h1>
                                <p>Thời gian</p>
                            </div>
                            <div class="news-detail-left-comment-list-items">
                                <% if (comments.length > 0){
                                    for(let i=0; i < Math.min(comments.length, 5); i++) { %>
                                        <div class="news-detail-left-comment-item">
                                            <div class="news-detail-left-comment-item-user">
                                                <h1><i class="fas fa-user"></i><%=comments[i].username%></h1>
                                            </div>
                                            <div class="news-detail-left-comment-item-content">
                                                <p><%=comments[i].noidung%></p>
                                                <!-- <p><%=comments[i].thoigian%></p> -->
                                                <p>
                                                    <% const date = new Date(comments[i].thoigian) %>
                                                    <%= `${formatTime(date.getHours())}:${formatTime(date.getMinutes())}:${formatTime(date.getSeconds())} ${formatTime(date.getDate())}-${formatTime(date.getMonth()+1)}-${formatTime(date.getFullYear())}` %>
                                                </p>
                                            </div>
                                        </div>
                                    <% }
                                 } else { %>
                                    <p class="comment-announcement" style="text-align: center; margin: 20px 10px; font-style: italic; font-size: 14px;">Hiện tại không có bình luận</p>
                                <% } %>

                                
                            </div>
                            <div class="news-detail-left-comment-more">
                                <a href="#showMore" onclick="showMore()">Hiển thị thêm</a> <i class="fas fa-angle-double-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-detail-right">
                    <h1>Tin liên quan</h1>
                    <div class="news-detail-right-list-items">
                        <% relatedNews.forEach(function(item){ %>
                            <div class="news-detail-right-item">
                                <div class="news-detail-right-item-image">
                                    <a href="<%= `/user/${userid}/news/${item.id}` %>">
                                        <img src="<%=item.anh %>" alt="">
                                    </a>
                                </div>
                                <div class="news-detail-right-item-content">
                                    <a href="<%= `/user/${userid}/news/${item.id}` %>">
                                        <h1><%=item.tieude%></h1>
                                        <p>Thời gian: 
                                            <span>
                                                <% const date = new Date(item.thoigian) %>
                                                <%= `${formatTime(date.getDate())}-${formatTime(date.getMonth()+1)}-${formatTime(date.getFullYear())}` %>
                                            </span>
                                        </p>
                                    </a>
                                    
                                </div>
                            </div>
                        <% }) %>   
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include footer %>
  </body>

  <script>
    
  </script>
</html>
