<header>
    <div class="logo">
        <a href="/user/<%= userid %>/home">
            <img src="/public/images/pic1.png" alt="logo">
            <span class="web-name">Lazy news</span>
        </a>
    </div>

    <div class="menu">
        <% const maxNumTopic = 8
        if(listTopic.length < maxNumTopic) {
            for(let i = 0; i < listTopic.length; i++){ %>
                <li><a href="<%= `/user/${userid}/category/${listTopic[i].chudeid}` %>" data-id='<%= listTopic[i].chudeid %>' class="topic"><%= listTopic[i].tenchude %></a></li>
        <% }
        } else {
            for(let i = 0; i < maxNumTopic - 1; i++) { %>
                <li><a href="<%= `/user/${userid}/category/${listTopic[i].chudeid}` %>" data-id='<%= listTopic[i].chudeid %>' class="topic"><%= listTopic[i].tenchude %></a></li>
            <% } %>
            <li><a href="#">Thêm <i class="fas fa-caret-down"></i></a>
                <ul class="sub-menu">
                    <% for(let i = maxNumTopic - 1; i < listTopic.length; i++) { %>
                        <li><a href="<%= `/user/${userid}/category/${listTopic[i].chudeid}` %>" data-id='<%= listTopic[i].chudeid %>' class="topic"><%= listTopic[i].tenchude %></a></li>
                    <% }
        } %>
    </div>

    <div class="others">
        <li><input type="text" placeholder="Tìm kiếm"> <a onclick="searchNews()" class="fas fa-search"></a></li>
        <li><a href="#contact-section" class="fas fa-phone"></a></li>
        <li><a href="/"><i class="fas fa-user"></i> <%= username %></a></li>
    </div>
</header>